<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musinsa Price Tracker - Goods Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet&display=swap" rel="stylesheet">
    <!-- CSS Styles -->
    <style>
        body {
            font-family: "Hahmlet", sans-serif;
            background-color: #ffffff;
        }

        .container-fluid {
            padding: 50px 20px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }

        .product-image {
            width: 45%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
            border-radius: 8px;
        }

        .product-info h2 {
            font-size: 30px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .product-info p {
            font-size: 20px;
            color: #777;
            margin-bottom: 5px;
        }

        .rating {
            font-size: 24px;
            color: #ff9300;
        }

        .link-button {
            margin-top: 20px;
        }

        #container {
            margin-top: 100px;
            margin-bottom: 50px;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <img id="goods_img" class="img-fluid rounded product-image" alt="Product Image">
            </div>
            <div class="col-md-6 product-info">
                <h2 id="goods_name"></h2>
                <p id="goods_del_price">판매가: </p>
                <p id="goods_price">할인가: </p>
                <p class="rating" id="goods_rating"></p>
                <p id="goods_rating_count">평가 수: </p>
                <a id="goods_url" target="_blank" class="btn btn-outline-primary btn-lg link-button">무신사에서 보기</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="container"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Function to generate star icons based on the numeric rating
    function generateStarRating(rating) {
        const ratingScale = rating / 20;
        const stars = '<i class="fas fa-star" style="color: #ff9300;"></i>'.repeat(Math.floor(ratingScale));
        const halfStar = ratingScale % 1 >= 0.5 ? '<i class="fas fa-star-half-alt" style="color: #ff9300;"></i>' : '';
        const emptyStars = '<i class="far fa-star" style="color: #ff9300;"></i>'.repeat(5 - Math.ceil(ratingScale));
        return stars + halfStar + emptyStars;
    }

    // Get the star ratings elements and update them with the corresponding star icons
    // $(document).ready(function () {
    //     $('.rating').each(function () {
    //         const rating = parseFloat($(this).data('rating'));
    //         $(this).html(generateStarRating(rating));
    //     });
    // });
</script>

<script th:inline="javascript">
    const gid = "1312035";
    const token = "eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJNdXNpbnNhLVByaWNlLVRyYWNrZXIiLCJleHAiOjE2OTAzNDM2NzEsInVzZXJJRCI6IjExMzc5MTQ5OTc0ODI5MDU4MjY4MCIsImlhdCI6MTY5MDM0MDA3MSwiZW1haWwiOiJsZWVqdXN1azIwOEBnbWFpbC5jb20iLCJwbGF0Zm9ybSI6IkdPT0dMRSJ9.rZ0GWCjCvQY2O3COMwxmWeofCiTJofkCr2dwFkUf2xFG4R8-ejnGESDOBd6MCIRygpTEhvJd-XhikYq4oFAftA";

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    (async () => {
        const url = "http://mpt-api-server.com/goods/" + gid;
        const data = await fetch(url).then(response => response.json());

        const goods_name = data['name'];
        const goods_del_price = data['del_price'];
        const goods_price = data['price'];
        const goods_rating = data['rating'];
        const goods_rating_count = data['rating_count'];
        const goods_url = data['url'];
        const goods_img = data['img'];

        const goods_name_elem = document.getElementById("goods_name");
        goods_name_elem.innerText = goods_name;
        const goods_del_price_elem = document.getElementById("goods_del_price")
        goods_del_price_elem.innerHTML += numberWithCommas(goods_del_price);
        const goods_price_elem = document.getElementById("goods_price");
        goods_price_elem.innerHTML += numberWithCommas(goods_price);
        const goods_rating_elem = document.getElementById("goods_rating");
        goods_rating_elem.innerHTML += generateStarRating(goods_rating);
        const goods_rating_count_elem = document.getElementById("goods_rating_count");
        goods_rating_count_elem.innerHTML += goods_rating_count;
        const goods_img_elem = document.getElementById("goods_img");
        goods_img_elem.src = "https:" + goods_img;
        const goods_url_elem = document.getElementById("goods_url");
        goods_url_elem.href = "https:" + goods_url;
    })();

    (async () => {
        const url = "http://mpt-api-server.com/goods/chart/" + gid;

        // musinsa data JSON
        const data = await fetch(url, {
            headers: {
                Authorization: 'Bearer ' + token
            }
        }).then(response => response.json());

        // test data JSON
        // const data = await fetch(
        //     'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v10.3.3/samples/data/usdeur.json'
        // ).then(response => response.json());

        Highcharts.setOptions({
            lang: {
                thousandsSep: ","
            }
            , exporting: {
                menuItemDefinitions: {
                    printChart: {
                        text: "차트 인쇄",
                        onclick: function () {
                            this.print();
                        }
                    },
                    downloadPNG: {
                        text: "다운로드 PNG",
                        onclick: function () {
                            this.exportChart();
                        }
                    }
                    , downloadJPEG: {
                        text: "다운로드 JPG",
                        onclick: function () {
                            this.exportChart({
                                type: 'image/jpeg'
                            });
                        }
                    }
                    , downloadPDF: {
                        text: "다운로드 PDF",
                        onclick: function () {
                            this.exportChart({
                                type: 'application/pdf'
                            });
                        }
                    }
                    , downloadSVG: {
                        text: "다운로드 SVG",
                        onclick: function () {
                            this.exportChart({
                                type: 'image/svg+xml'
                            });
                        }
                    }
                },
                buttons: {
                    contextButton: {
                        menuItems: ["printChart", "separator", "downloadPNG", "downloadJPEG", "downloadPDF", "downloadSVG"]
                    }
                }
            }
        });

        Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: "",
                align: 'left'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    '확대하고 싶은 구역을 클릭 & 드래그 하세요.' : '확대하고 싶은 구역을 선택하세요.',
                align: 'left'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: '가격'
                },
                labels: {
                    formatter: function() {
                        return this.value.toLocaleString();
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: '가격',
                data: data
            }]
        });
    })();

</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>